extends layout

block content
  h1= title
  p Welcome to #{title}
  p And also #{extra}
  p Hi there, #{user}!
  
  div
    table(style='width:100%', border='1')
      tr
        th Author
        th Title
        th Id
      for book in books
        tr
            td= book.author
            td= book.title
            td 888