extends layout

block content
  h1= title
  p Hi there, #{user}! Welcome to #{title} with some extra #{extra}
  p This is the mongo books version
  
  div
    table(style='width:100%', border='1')
      tr
        th Date String
        th Date
        th Author
        th Title
        th Pages
        th Nationality
        th Original Language
        th Tags
        th Format
        th Image
        th Id
        th Notes
      for book in books
        tr
            td= book.dateString
            td= book.date.getDate()+'/'+book.date.getMonth()+'/'+book.date.getFullYear()
            td= book.author
            td= book.title
            td= book.pages
            td= book.nationality
            td= book.originalLanguage
            td= book.tags
            td= book.format
            td
                img.image(src=book.image_url height=60)
            td= book._id
            td= book.note