extends layout

block content
  h1= title
  p Welcome to allBooksByMonthMongo 
  
  div
    h3 Month Totals
    table(style='width:100%', border='1')
      tr
        th 
        th Days
        th Books
        th Pages
        th # in Book Format
        th # in Comic Format
        th # in Audio Format
        th % in Translation
        th % in Translation
        th Page Rate
        th Days per Book
        th Pages per Book
        th Books per Year
      tr
        td <strong>#{monthDate.displayDate()}</strong>
        td #{monthTotals.totalDays}
        td #{monthTotals.totalBooks}
        td #{monthTotals.totalPages}
        td #{monthTotals.totalBookFormat}
        td #{monthTotals.totalComicFormat}
        td #{monthTotals.totalAudioFormat}
        td #{monthTotals.percentageInEnglish.toFixed(2)}
        td #{monthTotals.percentageInTranslation.toFixed(2)}
        td #{monthTotals.pageRate.toFixed(2)}
        td #{monthTotals.daysPerBook.toFixed(2)}
        td #{monthTotals.pagesPerBook.toFixed(2)}
        td #{monthTotals.booksPerYear.toFixed(2)}
      tr
        td <strong>Overall</strong>
        td #{overallTotals.totalDays}
        td #{overallTotals.totalBooks}
        td #{overallTotals.totalPages}
        td #{overallTotals.totalBookFormat}
        td #{overallTotals.totalComicFormat}
        td #{overallTotals.totalAudioFormat}
        td #{overallTotals.percentageInEnglish.toFixed(2)}
        td #{overallTotals.percentageInTranslation.toFixed(2)}
        td #{overallTotals.pageRate.toFixed(2)}
        td #{overallTotals.daysPerBook.toFixed(2)}
        td #{overallTotals.pagesPerBook.toFixed(2)}
        td #{overallTotals.booksPerYear.toFixed(2)}
  
  div
    h3 Month Books
    table(style='width:100%', border='1')
      tr
        th Date
        th Author
        th Title
        th Pages
        th Nationality
        th Original Language
        th Tags
        th Format
        th Image
      for book in books
        tr
            td= book.displayDate()
            td= book.author
            td= book.title
            td= book.pages
            td= book.nationality
            td= book.originalLanguage
            td= book.tags
            td= book.format
            td
                img.image(src=book.image_url height=60)
  
  div
    h3 Monthly Breakdowns
    for monthlyBreakdownTotal in monthlyBreakdownTotals
      div
        p <strong>#{monthlyBreakdownTotal.title}</strong>
        table(style='width:100%', border='1')
            tr
                th= monthlyBreakdownTotal.division
                th= monthlyBreakdownTotal.source
            for element in monthlyBreakdownTotal.elements
                tr
                    td= element.title
                    td= element.total

        